/* Introdução Financiamento */
.container h2{
    color: #141414fa;}

.container h3{
    color: #141414fa;}

.container-img{
    margin-right: 15%;
    height: 680px;}

.container-img img{
    height: 100%;}

/* Seção CTA */
.section-cta{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
    height: 500px;
    background-color: #9c1717;}

.logo-cta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 40%;
    font-size: 62px;
    color: white;
    font-family: 'Italic';}

.cta-content{
    flex: 40%;}

.cta-content h2{
    color: white;
    font-size: 23px;}

.cta-content p{
    text-align: justify;
    font-size: 14px;
    width: 520px;
    color: white;}

.cta-btn{
    display: inline-block;
    background-color: #141414fa;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 5px;
    color: #9c1717;
    text-decoration: none;
    font-weight: 700;}

.cta-btn:hover{
    background-color: white;}

.ad-cards{
    display: flex;
    height: 120px;
    width: 340px;
    margin: 1%;
    padding: 15px;}

.ad-cards-img{
    margin-top: 25px;}

.ad-cards-content{
    text-align: left;}

.ad-cards-content p{
    font-weight: 400;
    margin-left: 10%;
    width: 250px;
    margin-right: 10%;
    font-size: 15px;}

.ad-cards-content h3{
    width: 280px;
    margin-left: 30px;}

.section-cards{
    margin-top: 100px;
    justify-content: center;
    display: flex;}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    margin: 1%;
    padding: 20px;}

.cards h3{
    text-align: center;
    font-size: 16px;}

.cards p{
    height: 160px;
    text-align: justify;} 

.simulator{

    margin-top: 100px;}

.simulator h2{
    font-size: 28px;
    color: #141414fa;
    margin-left: 210px;}

.form-simulator{
    
    margin: auto;
    border-radius: 15px;
    width: 930px;
    border: 1px solid rgb(161, 156, 156);
    gap: 60px;}

.form-simulator section{
    
    display: flex;
    gap: 25px;}

.form-simulator div{
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
    margin-top: 40px;
    flex-direction: column;}

.form-simulator input{
    padding-left: 15px;
    height: 45px;
    border: 1px solid rgb(161, 156, 156);
    font-size: 18px;
    border-radius: 10px;
    width: 380px;}
